<!DOCTYPE html>
<html>
  <head>
    <title>The App</title>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="timer.js"></script>
    <script src="communicator.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <link rel="stylesheet" text="text/css" href="style.css" >

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div id="App">
      <h1>Initiate Game</h1>
      <form class="form-horizontal">
	<div class="form-group">
	  <label for="randomText" class="col-sm-2 control-label">Text In</label>
	  <div class="col-sm-10">
	    <input class="form-control" id="randomText" type="text"/> 
	  </div>
	</div>
	<div class="form-group">
	  <div class="col-sm-offset-2 col-sm-10">
	    <button type="button" class="btn btn-primary bt-lg btn-block" onclick="start()">Start</button>
	  </div>
	</div>
      </form>
      <center> <p> <font size=7 id="countdown"></font> </p> </center>
      </div>
    </div>


  </body>
</html>
